* {
  box-sizing: border-box;
}

body {
  background-color: #FEFDF3;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}


.logo {
  margin: 1% auto;
}

  .wrapper {
  background: white;
  border: 2px solid #000;
  text-align: center;
}

  h1 {
    line-height: 500%;
    font-size: 300%;
  }

  
  
  
  


      
    



.btn-default {
  color: black;
  background: white;
  border: 2px solid black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 7px 12px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  &:hover,
  &:focus {
    font-weight: 400;
    color: white;
    background: black;
    text-decoration: none;
    outline: none;
    border-color: transparent;
  }
}

.footer {
  margin: 0 auto 10vh auto;
  text-align: center;
  padding: 3% 0;
  background: white;
  border: 2px solid #000;
  border-top: 0;
  .promo {
    text-transform: uppercase;
    h3 {
      margin: 0;
    }
    p {
      display: block;
      font: 8px;
      text-transform: lowercase;
    }

  }

  li {
    width: 45px;
    height: 45px;
    line-height: 45px !important;
    position: relative;
    margin: 0 15px;
    text-align: center;
    display: inline-block;
    border: 2px solid #000;

    &:hover {
      background: #101010;
      color: white;
      a {
        color: white;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }


  .input-group {
    border: 2px solid black;
    border-radius: 0px;
    radius: 0;
    max-width: 192px;
    min-width: 191px;
    margin: 0 auto;
  }
  span.input-group-addon {
    border-right: 2px solid black;
    radius: 0px;
    background: black;
    color: white;
    border: 0; 
    border-radius: 0; 
  }
  .form-control {
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    border: 0; 
    border-radius: 0; 
  }

}